@use '../scss/' as *;

.fulfillment-info {
  &-container {
    .fulfillment-info-title {
      @include flex(center, space-between);
      margin-bottom: 40px;
      p {
        font-size: 24px;
        font-weight: 500;
      }
      button {
        display: block;
        @include flex(center, center);
        font-size: 12px;
        padding: 5px 12px;
        min-width: 120px;
        min-height: 30px;
        background-color: white;
        &:hover {
          background-color: #f9fafb;
        }
        border: 0.5px solid lightgray;
        border-radius: 8px;
      }
    }
    .shipping-method {
      font-size: 12px;
      font-weight: 300;
      p {
        &:first-child {
          color: gray;
          margin-bottom: 7px;
        }
      }
    }
    .fulfillment-info-detail {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;
      p {
        &:first-child {
          margin-bottom: 6px;
        }
        &:last-child {
          span {
            color: blue;
          }
        }
      }
    }
  }
}
